{% extends 'base.html' %}

{% block content %}
<div class="card p-4" >
  <h1>상세 내용</h1>
  
  <hr>
  <p>제목 : {{ suggestion.title }}</p>
  <p>내용 : {{ suggestion.content }}</p>
  <p>작성 시각 : {{ suggestion.created_at }}</p>
  <p>수정 시각 : {{ suggestion.updated_at }}</p>
  <hr>
  {% if request.user == suggestion.user %}
    
    <form action="{% url 'suggestions:delete' suggestion.pk %}" method="POST" >
      {% csrf_token %}
      <a href="{% url 'suggestions:update' suggestion.pk %}" class="btn btn-primary">수정</a>
      <input type="submit" value="삭제" class="btn btn-danger">
    </form>
  {% endif %}
  
  <hr>
  
  <ul>
    {% if suggestion.comment %}
      <li>
        {% if suggestion.comment.status == "1" %}
          <p style="color: yellow;">처리중</p>
        {% elif suggestion.comment.status == "2" %}
          <p style="color: red;">반려</p>
        {% else %}
          <p style="color: green;">처리완료</p>
        {% endif %}
        <p>반려 사유 : {{ suggestion.comment.reason }}</p> 

        {% if request.user == comment.user %}
          <form action="{% url 'suggestions:comment_delete' suggestion.pk comment.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
          </form>
        {% endif %}
      </li>
    
  </ul>
  <hr>
  <a href="{% url 'suggestions:index' %}" class="btn btn-secondary mt-4">뒤로 가기</a>
  {% else %}
    {% if request.user.is_authenticated %}
      <form action="{% url 'suggestions:comment_create' suggestion.pk %}" method="POST">
        {% csrf_token %}
        {{ comment_form }}
        <input type="submit">
      </form>
    {% else %}
      <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
    {% endif %}
  {% endif %}
</div>
{% endblock content %}
