{% extends 'base_login.html' %}
{% load qr_code %}

{% block content %}

  {% comment %} <div class="w-100 my-5" >
    <img src="https://media.istockphoto.com/photos/safety-construction-worker-hats-blue-white-yellow-orange-teamwork-of-picture-id1205863144?k=20&m=1205863144&s=612x612&w=0&h=BxkJXCFWIe-jrHQopkDYDg8ymT0lssD1fEbbiCeCZz4=" alt="" style="object-fit: cover; width: 100%">
  </div> {% endcomment %}

  <div class="d-flex flex-column justify-content-center align-items-center">
     <div>
      <p class="h3 text-center">출근 QR 코드</p>
      <p>{% qr_from_text user.name size=20 border=6 %}</p>
    </div>
  </div>
  <div class="container">

    <div class="row ">
   
      <div class="col-sm-12 mb-4">
        <div class="card" style="background-image: url('https://t4.ftcdn.net/jpg/01/68/55/41/240_F_168554180_rT3GO4tcgl6c1m1mpTPnkoBEvtkaHoIz.jpg'); background-size: 100%;">
          <a href="{% url 'suggestions:index' %}" style="color: black; text-decoration: none;">
            <div class="card-body">
              <h5 class="card-title">안전 신문고&nbsp ></h5>
              <hr>
              <p class="card-text">현장의 무사고를 위해, 동료를 위해 불안한 상황을 제보해 주세요.</p><br>
            </div>
          </a>
        </div>
      </div>
      <div class="col-sm-12 mb-4">
        <div class="card" style="border: none; color: white; background-image: url('https://media.istockphoto.com/photos/miner-in-a-yellow-hard-hat-on-a-black-background-dirty-with-coal-dust-picture-id1352297658?k=20&m=1352297658&s=612x612&w=0&h=zwMPzcw8MM15t8j3nlCwHJRJc40gXg5E8BNBTom2_qc=');">
          <div class="card-body">
            <h5 class="card-title">자기 보호권&nbsp ></h5>
            <hr>
            <p class="card-text">불안한 상황에서 일을 강요받거나, 사고가 당장이라도 날 것 같으면 신고해주시고 작업을 모두 멈춰주세요.</p>
            <div style="text-align: right;">
              <button type="button" class="btn btn-danger" style="width: 160px" data-bs-toggle="modal" data-bs-target="#exampleModal">
                작업 중지권 발동&nbsp >
              </button>
            </div>
          </div>
        </div>
      </div>

      {% if user.user_type > "2" %}
      <div class="col-sm-12 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">QR코드 스캔</h5>
            <hr>
            <p class="card-text">관리자라면 출근 등록을 진행하기 위해서 큐알 코드 스캔을 진행해 주세요</p>
            <a href="{% url 'manager:index' request.user.username %}" style="color: white; text-decoration: none;" class="btn btn-primary">QR 코드 스캔</a>
          </div>
        </div>
      </div>
      {% endif %}
      <div style="width: 75px; height: 75px; border-radius: 50px; position: fixed; bottom: 30px; right: 30px; background: white;">
        <div class="d-flex justify-content-center align-items-center" style="height: 100%">
          <div style="text-align: center">
            <a href="{% url 'complain:index' %}" >
                <img src="https://cdn-icons-png.flaticon.com/128/596/596092.png" alt="" style="width: 50%; height: 50%; border-radius: 50px" >
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}