{% extends 'base.html' %}

{% block content %}
  <style>
    .red {
      color: red;
    }
  </style>
  <h1>employee</h1>
  
  <p>1. 강의 내용</p>

  <p>2. 시험 보기</p>
  
  <ol>
    <li>일단은 study1, 2, 3, ... 10 만들어서 선택하게 하고 추후에 스터디를 pk로 가지게 해서 동적으로 변경</li>
    <li>강의 내용 밑에 테스트 두기</li>
    <li>테스트에 통과하면 다음 페이지로 넘어가기</li>
    <li>다음 페이지로 넘어가서 QR체크인</li>
    <li>추후에 RESTfulAPI로 변경?? 아직은 AJAX까진 필요 없을듯?? => 속도 우선순위</li>
  <ol>
  <br><br>
  <h3>아래의 내용을 보완할 방법으로, 빈 칸에 들어갈 적절한 단어를 골라주세요</h3>
  <p>건축물 보관창고 지붕에 올라 비닐천막을 씌우고 이동하던 중 잘못 밟은 채광창이 깨지면서 약 5.4m 바닥으로 떨어져 사망</p>
  <ul class="d-flex justify-content-between align-items-center">
    <div>
      <!--만약 problem1이 정답이면 다음문제로-->
      <li>폭 [<span id="problem1"></span>] 이상의 발판 혹은 안전방망 설치</li> 
      <hr>
      <li>지붕 위에서 떨어짐 [<span id="problem2"></span>] 실시</li>
      <hr>
      <li>안전대 [<span id="problem3"></span>] 설치 및 안전대, 안전모 등 보호구 착용</li>
    </div>
    <div>
      <ul>
        <li><button id="button1">30cm 이상</button></li>
        <hr>
        <li><button id="button2">부착설비</button></li>
        <hr>
        <li><button id="button3">위험방지 조치</button></li>
      </ul>
    </div>
  </ul>
  
      
  <hr>
  <a href="{% url 'employee:index' %}">뒤로 가기</a>
  
  <script>
    const problem1 = document.querySelector('#problem1')
    const problem2 = document.querySelector('#problem2')
    const problem3 = document.querySelector('#problem3')
    const button1 = document.querySelector('#button1')
    const button2 = document.querySelector('#button2')
    const button3 = document.querySelector('#button3')
    
    button1.addEventListener('click', function(event) {
      problem1.innerText = button1.innerText
      if (problem1.innerText !== "30cm 이상") {
        problem1.setAttribute('class', 'red')
      }
      button1.innerText = ""
    })
    button2.addEventListener('click', function(event) {
      problem2.innerText = button2.innerText
      if (problem2.innerText !== "위험방지 조치") {
        problem2.setAttribute('class', 'red')
      }
      button2.innerText = ""
    })
    button3.addEventListener('click', function(event) {
      problem3.innerText = button3.innerText
      if (problem3.innerText !== "부착설비") {
        problem3.setAttribute('class', 'red')
      }
      button3.innerText = ""
    })
    // 처음 상태에서는 문제1에 포커스
    // 맞은문제 알람
    // 체크 후 문제2에 (순서대로) 포커스

    // 수정해야 할 사항
    // 누른 버튼이 답으로 들어가게 하고, 원래 들어가야할 답과 비교해서 맞으면 정답체크
    // 틀리면 오답 표시 후 특정 부분 다시 렌더링(새로고침)
    
  </script>
{% endblock content %}