{% extends 'base.html' %}

{% block content %}
  <h1>시스템 불편 사항</h1>
  {% if request.user.is_authenticated %}
    <button type="button" class="btn btn-primary my-4">
      <a href="{% url 'complain:create' %}" style="color: white; text-decoration: none;">제안하기</a>
    </button><br/>
  {% else %}
    <a href="{% url 'accounts:login' %}">[새 글을 작성하려면 로그인 하세요]</a>
  {% endif %}
  <hr>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">상태</th>
        <th scope="col">제목</th>
        <th scope="col">상세 내용</th>
      </tr>
    </thead>
    <tbody>
      {% for complain in complains %}
        <tr>
          <th>{{ complain.pk }}</th>
          <td>{{ complain.title }}</td>
          <td><a href="{% url 'complain:detail' complain.pk %}">상세 내용</a></td>
        </tr>
      {% endfor %}
    </tbody>
</table>
<a href="{% url 'employee:index' %}" class="btn btn-secondary mt-4">뒤로 가기</a>
{% endblock content %}
